<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>E-Surve</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon" />
  <link href="../static/assets/img/apple-touch-icon.png" rel="icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet" type="text/css" />
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" type="text/css" />

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

  <!-- =======================================================
  * Template Name: Appland - v2.0.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <a href="/"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a> 
        <a href="/" class="appname">E-Surve</a>
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">
    <section id="features" class="features">
        <div class="container">
  
          <div class="row content">
            <div class="col-md-8 pt-4">
              <h3>Terms of Use and Privacy.</h3>
              <p>
                This is a free application to check and estimate the damage of the vehicle. We do not assume any responsibility of the usage or any wrong prediction by the application.
                There is no warranty or guarantee of using this application. Currently the application is in Beta stage so we do expect errors. 
                Please feel free to contact us if you think application is wrongly predicting and we will improve our prediction.
              </p>
              <p>
                This Terms of Use regulates the use of the Website by the Users. By registering and/or using the Website in any way or to any extent, you are deemed to have read, agreed to and accepted these Terms of Use. 
                We reserve the rights to change the Terms of Use at any time by an appropriate revision, so we request you to check the Terms of Use periodically.
              </p>
              <p>
                  Visitors of the website / portal and every third party are hereby informed that the owner of the webiste is in no way responsible or liable to any obligation or not responsible to any wrong information.
                  It is the users decision to use the website for their own use and shall not be used to compare. The website owner will be not responsible for any wrong decision taken by the customer based on the 
                  recommendation provided here. The website directors/owner or its employees will not be liable for liable for any consequential, direct, exemplary, incidental, indirect, special, punitive or any other kind of damage whatsoever 
                  (including but not limited to, liability for loss of use, data, or profits), without regard to the form of any action, including but not limited to, contract, negligence, or other actions arising out of tort, arising out 
                  of or in connection with the site.
              </p>
              <p>
                  The owner of the website has put in best efforts to show accurate results and details but cannot be held responsible to in way for wrong recommendation or wrong decision by the visitor of the website.
              </p>
              <p>
                  We may use cookies directly by the website or by third party from the website.
              </p>
              <p>
                  We take customer privacy seriously and make our best efforts to protect the same but Unfortunately, no data transmission over the Internet or any 
                  wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your Personal Information, you acknowledge that 
                  (a) There are security and privacy limitations of the internet which are beyond the control of the website. 
                  (b) The security, integrity, and privacy of any and all information and data exchanged between you and the website cannot be guaranteed. 
                  (c) Any such information and data may be viewed or tampered with in transit by a third party and 
                  (d) When you transfer any information to us, you do so at your own risk.
              </p>
              <p>
                  Website owner/employee reserve the right to, at any time and any number of times, without seeking any prior approval either in writing, 
                  electronically or otherwise, to add, delete or modify, partially or fully, any clause(s) herein and bring them to effect. 
                  It is in the User's interest to be reviewing the terms and conditions mentioned herein from time to time. 
                  Your participation and continued usage of the Website will mean acceptance of the revised Terms of Use including the Privacy Policy and of 
                  the collection, disclosure, use, storage and management of your Personal Information. 
                  No further explicit acknowledgement of the same may be taken from you.
              </p>
              <p>
                You shall indemnify and hold harmless the website owner / director / employee of this website from and against any and all liabilities, losses, claims, demands, 
                disputes, damages, and costs of any kind, including, without limitation, reasonable lawyers’ fees and costs of litigation resulting from or in any way connected 
                with your use of the Website, including the Software and Services offered through the Website, User Content that you submit through the Website, and/or your 
                breach of any of the provisions of the Terms of Use. If, despite the limitation above, the website owner / director / employee or its affliates are found liable 
                for any loss or damage which arises out of or in any way connected with any of the occurrences described above, then the liability of the website owner / director or its affiliates
                will not pay back any service fees or any costs or remuneration or money in any form incase if you paid to the website in connection with such transaction(s) for Services on this Website.
              </p>
              <p>
                  The website owner / director can take actions to enforce any of the provisions of the user agreement , including collection of any amount due hereunder,the owner of the website 
                  shall be entitled to recover from you (and agree you to pay) in addition to all sums to which it is entitled or any other relief, at law or in equity, reasonable 
                  & necessary attorney’s fees and any cost of any litigation.
              </p>
              <p>
                  Any dispute resolution shall be brought and mutually settled. 
              </p>
              <p>The website or its owners / Directors are not responsible for use of your any personally identifable information. We request you not to share any identifiable information.
                  In case if any information is shared then the website vistor is sole responsible. The wesbite owner shall have the rights to use any of the data obtained or uploaded into the website
                  for internal use and improvement of the wesbite, by using this website user shall give full acceptance of the same and does not require any explicit acknowledgement of the same. 
              </p>

            </div>
          </div>
  
          <div class="row content">
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
              <h3>Corporis temporibus maiores provident</h3>
              <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
              <p>
                Inventore id enim dolor dicta qui et magni molestiae. Mollitia optio officia illum ut cupiditate eos autem. Soluta dolorum repellendus repellat amet autem rerum illum in. Quibusdam occaecati est nisi esse. Saepe aut dignissimos distinctio id enim.
              </p>
            </div>
          </div>
        </div>
      </section>
  </main>
</body>